<html>

<head>
    <title>Node HTML file onto the browser</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src='/js/app.js'></script>
</head>

<body>
    {{>header}}
    <input type="text" id="txtWord">

    <button onclick="fetchDefinition()">
        Search
    </button>
    <div>
        <h1 id="h1Word"></h1>
        <h3 id="h3Definition"></h3>
    </div>
    {{>footer}}
</body>

</html>