<html>

<head>
    <title>Node HTML file onto the browser</title>
    <link rel="stylesheet" href="./css/style.css" />

</head>

<body>
    <h1>{{title}}</h1>
    <h2>{{course}}</h2>
    <h3>Class is conducted by : {{teacher}}</h3>

</body>

</html>